@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg-dark: #001220;
}


/*banner img*/

.banner{
    background-image: url('/banner.svg');
    background-size: cover;
}

.ux-card{
    background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #FF00C7 100%), linear-gradient(121.28deg, #213100 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), linear-gradient(114.9deg, #00C6A2 0%, #6A45A8 100%), radial-gradient(100% 148.07% at 0% 0%, #FFFFFF 0%, #1DCD00 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}